doctype html
html
	head
		title ImageSwap - Admin
		link(href='../css/main.css', rel='stylesheet')
		link(href='../include/jquery-ui.min.css' rel='stylesheet')
		link(href='../include/jquery-ui.structure.min.css' rel='stylesheet')
		link(href='../include/jquery-ui.theme.min.css' rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src='/socket.io/socket.io.js')
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")
		script(src="../js/addimage.js")
		script(src="../include/jquery-ui.min.js")

	body
		.cover
		header 
			div.title Admin - Index
			a(href='/admin/manage').menuoption Manage
			a(href='/admin/logout').menuoption Logout
			a(href='/').menuoption Return
		.main
			div.center
				div.form
					form.additemform(method="post")
						div.images
						br
						input#upload.button(autocomplete="off" type="submit" value="Upload Images")
						br


		#message 
			#messagetext


