doctype html
html
	head
		title ImageSwap
		link(href='css/main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
	body
		header 
			div.title #{today}
			if user
				a(href='./admin').menuoption Admin

		
		div.main
			div.center
				if image
					img.todayImage(src='img/images/#{image}')
				else
					span.title No Image Today :(
				br
				br
				iframe(src='http://ghbtns.com/github-btn.html?user=AshotN&repo=ImageSwap&type=watch&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='77', height='30')
