doctype html
html
	head
		title ImageSwap
		link(href='css/main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
	body
		header 
			div.title #{today}
		
		div.main
			div.center
				if image
					img.todayImage(src='img/images/#{image}')
				else
					span.title No Image Today :(