.canvas
	margin: 30px;
	box-shadow: 0 0 10px 0px #3E3E3E;
	
.tools
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0px auto;
	position: relative;
	bottom: 82px;
	height: 48px;
	overflow: hidden
	.control
		cursor: pointer
		height: 40px;
		padding: 5px;
		width: 38px;
	.rleft
		transform: scaleX(-1)
		margin-right: 50px;
	.rright
		margin-left: 50px;
	.delete
		float: left;
		position: relative;
		left: 20px;
.image
	display: inline-block;
	
.uploaddate
	color: #000;
	float: right;
	position: relative;
	font-size: 38px;
	right: 20px;
	bottom: 56px;
	font-family: Roboto;
	font-weight: 300;
	
.menuoption
	font-family: Roboto;
	margin-right: 20px;
	color: rgba(192, 192, 192, 0.59);
	text-decoration: none;
	cursor: pointer;
	position: relative;
	font-size: 22px;
	float: right;
	bottom: 30px;

#message
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3);
	width: 100%;
	padding 10px
	position: fixed;
	bottom: 0px;
	box-shadow: 0px 0px 10px #272727;
	opacity: 0;
	display none
	text-align: center;
	z-index 100
	#messagetext
		font-family: Ubuntu;
		font-size: 32px;
		font-weight: 100;
.error
	background: none repeat scroll 0% 0% rgba(255, 0, 0, 0.28) !important;
	
.trash
	position: absolute;
	width: 32px;
	top: 4px;
	height: 32px;
	background-image: url(../img/trash.png);
	cursor pointer
	&:active
		background-color red
	
.fc td, .fc th 
	background-color white
	
.calendar-image
	width 45%
	transition: transform 0.2s
	&:hover
		transform:scale(1.2)
		transition: transform 0.2s

	
.fc-toolbar .fc-left 
	background-color: #EBEBEB;
	padding: 10px;
	border-radius: 5px;
	
.fc
	text-align center !important
	
.fc td, .fc th 
	border-width: 3px !important
	
.fc-toolbar .fc-right 
	position absolute
	right 20px
	
.fc-basic-view td.fc-day-number, .fc-basic-view td.fc-week-number span
		font-family Roboto
		font-size: 22px;
		font-weight: 100;

.fc-event
	background-color transparent !important
	border none !important