@import 'includes/reset.styl'
@import 'elements/header-footer'
@import 'includes/classes.styl'
@import 'elements/imageswap.styl'
@import 'elements/login.styl'
@import 'elements/admin.styl'

body
	background-image: url("../img/background.png")